# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\progamowanie\programy\java6-jpa\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
